#answer {
  display: none;
}

h1#topheader {
  background-image: url("../img/speedypp.gif");
  text-align: center;
  font-size: 100px;
  padding: 35px;
}

body {
  background-color: lightgray;
}

.col-md-4 {
  height: 500px;
}

.well {
  background-color: #4a9b71;
  text-align: center;
  font-size: 25px;
  font-family: 'Lobster' , cursive;
  color: black;
}

a {
  color: #050077;
}

row {
  border: black 5px;
}
